body {
  /*to remove pre-brower margins on chrome*/
  margin: auto 0;
}

.topnav {
  background-color: #00adb5;
  overflow: hidden;
  z-index: 1;
}

/* to make navbar sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* to make footer sticky */
.stickybtm {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* When the screen is less than 1000 pixels wide, hide all links, except lanuage. 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav .navlink {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* to style nav bar items */
.navlink {
  font-size: 23.2px;
  font-weight: bold;
  float: left;
  display: block;
  text-align: center;
  padding: 1.4vmin 1.4vmin;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

/* to style japanese nav bar items */
.navjp {
  font-size: 19.33px;
}

/* adjust Japanese font on nav bar*/
.language.japanese {
  font-size: 19.33px;
}

/* to adjust english not selected button on japanese page */
.notselectedjp {
  font-size: 23.2px;
}

/* to change japanese font */
.japanese {
  font-family: "Outfit", sans-serif;
}

/* To make the topnav verticle */
@media screen and (max-width: 1000px) {
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnavnav.responsive a.icon {
    font-size: 26px;
  }
  .navlink {
    font-size: 3vmin;
  }
  .language.japanese {
    font-size: 2.7vmin;
  }
  .navjp {
    font-size: 2.7vmin;
  }
}

/* to remove margin from hamburger menu icon */
i.fa.fa-bars {
  margin: 0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  font-size: 26px;
  display: none;
}

/* to style selected language */
.selected {
  font-weight: bold;
  float: left;
  display: block;
  text-align: center;

  text-decoration: none;
  background-color: #222831;
  color: white;
  font-family: "Outfit", sans-serif;
}

/* in order to orient language settings to the right for larger screens*/
@media screen and (min-width: 1000px) {
  .language {
    float: right;
  }
}

/* to add color to nav items */
.navitem {
  color: #222831;
}

/* for adding background to nav items */
.navitem:hover {
  background-color: #a4e9ed;
  color: #222831;
}

/* to remove click effect from selected link */
.selected:active {
  color: white;
}

nav > a:active {
  color: #222831;
}

/* to adjust background of notselected language items */
.notselected {
  background-color: #999999;
  color: #222831;
}

.notselected:hover {
  background-color: #d9d9d9;
  color: #222831;
}

/* to style social media icons */
.fa {
  margin-right: 20%;
  text-decoration: none;
  color: #222831;
}

/* adds hover effect for social media icons */
.fa:hover {
  color: #636569;
}

/* to change text in document */
.text {
  font-family: "Outfit", sans-serif;
}

/* to change dark text */
.text.dark {
  color: #222831;
}

/* to change light text */
.text.light {
  color: white;
}

/* to adjust the "home" section */
.home {
  background-image: url(home.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.homespacer {
  height: 15vh;
  width: 100%;
}

/* to adjust headshot image */
#headshot {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  border: 3px solid #222831;
}

/* to adjust text div */
.homediv {
  text-align: center;
  font-size: 3vmin;
}

/* to adjust about section */
.about {
  background-color: #222831;
  height: 80vh;
  width: 80vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* to adjust size for about fonts */
.aboutHeading {
  font-size: 8vmin;
}

.aboutDescription {
  font-size: 4vmin;
}

.aboutDescriptionjp {
  font-size: 3.5vmin;
}

/* to format skills section */
.skills {
  width: 100vw;
  background-color: #d2d3d6;
}

/* to format skill title */
#skillsTitle {
  text-align: center;
  font-size: 8vmin;
  padding-top: 15vh;
  margin-top: 0;
}

/* to adjust the size of skills image */
.skillsImage {
  height: 4vmin;
  width: 4vmin;
  margin-left: 1vmin;
}

/* to set up grid */
.skillCategories {
  display: grid;
}

/* to remove bullet points from skills lists */
.skillsList {
  list-style: none;
  padding-bottom: 5vh;
  border: 5px solid #222831;
  border-radius: 15%;
  background-color: white;
  font-size: 4vmin;
  margin: 0;
}

/* to adjust grid to large screens */
@media screen and (min-width: 1000px) {
  #skillsTitle {
    padding-top: 22vh;
  }
  .skill-container {
    margin: 0.5vw;
  }
  .skills {
    height: 100vh;
  }
  .skillCategories {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .skillsList {
    font-size: 2.5vmin;
    width: 30vmin;
    height: 30vmin;
  }
  .skillListjp {
    font-size: 2.3vmin;
  }
}

/* to adjust grid to small screens */
@media screen and (max-width: 1000px) {
  #skillsTitle {
    padding: 15vmin;
    margin-bottom: 0;
  }
  .skills {
    height: 220vmin;
  }
  .skillCategories {
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 150vmin;
  }
  .skillsList {
    width: 40vmin;
    height: 35vmin;
  }
}

/* sets background and size for projects section */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #222831;
}

/* to format projects title */
.projectsTitle {
  display: flex;
  margin-top: 0;
  margin-bottom: 1vh;
  justify-content: center;
  align-items: flex-end;
  font-size: 8vmin;
}

/* to format projects container*/
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* to hide slides by default */
.projectSlide {
  display: none;
}

/* to make background white */
.project-display {
  background-color: white;
  border-radius: 15%;
  border: 5px solid #838587;
  overflow: hidden;
}

/* to adjust text portion of project display */
.project-text {
  height: 20vmin;
  width: 40vmin;
  font-size: 3vmin;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* to adjust project text for japanese font size */
.project-textjp {
  font-size: 2.6vmin;
}

.numbered-text {
  font-size: 3vmin;
  text-align: center;
}

/* fading animation for slides*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* to add formatting */
.slideshow-button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 12vmin;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* to adjust hover color */
.slideshow-button:hover {
  color: #838587;
}

/* to adjust position for previous and next buttons */
.prev {
  margin-right: 1vw;
}

.next {
  margin-left: 1vw;
}

/* to adjust size of project images */
.project-image {
  height: 30vmin;
  width: 55vmin;
}

/* to transition image on hover */
.project-image:hover {
  opacity: 0.7;
}

/* to format source code link */
.src-code-link {
  text-decoration: none;
  color: #00adb5;
  font-weight: bold;
}

.src-code-link:hover {
  color: #017a80;
}

.src-code-link:active {
  color: #017a80;
}

/* to format Contact section */
.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  background-color: #d2d3d6;
}

/* to format contact title */
#contact-title {
  margin-top: 0;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 8vmin;
  padding-top: 13vh;
}

/* to format contact description text */
.contact-description {
  font-size: 3vmin;
  vertical-align: top;
  font-weight: bold;
}

/* to forstmat first name description */
.fname {
  padding-right: 2vmin;
}
.fnamejp {
  padding-right: 10.8vmin;
}

/* to format last name description*/
.lname {
  padding-right: 2.1vmin;
}
.lnamejp {
  padding-right: 10.8vmin;
}

/* to format email area */
.email {
  padding-right: 8.7vmin;
}
.emailjp {
  padding-right: 4.8vmin;
}

/* to format contact input area */
.contact-box {
  font-size: 2.5vmin;
  width: 60vmin;
  margin-bottom: 2vh;
  align-items: center;
  border: 2px solid #222831;
}

/* to increase size of message input box */
.message-box {
  margin-top: 2vmin;
  height: 20vh;
  width: 77.45vmin;
}

/* to align button to the center */
.contact-button-container {
  text-align: center;
}

/* to format contact button */
.contact-button {
  font-size: 3vmin;
  border: 2px solid #222831;
  border-radius: 15%;
  height: 8vmin;
  width: 12vmin;
  background-color: #a4e9ed;
}
.contact-buttonjp {
  font-weight: bold;
  font-size: 2.5vmin;
}

/* to adjust button on hover */
.contact-button:hover {
  background-color: #00adb5;
}

/* to format resume section */
.resume-container {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222831;
}

/* to adjust resume title */
#resume-title {
  font-size: 8vmin;
  margin-top: 0;
  margin-bottom: 3vh;
  padding-top: 13vh;
}

/* to set resume picture size */
.resume-image {
  height: 33.33333333vmin;
  width: 25.75539569vmin;
  border: 3px solid #838587;
}

/* to give effect to resume hover */
.resume-image:hover {
  height: 36.666666666vmin;
  width: 28.33093526vmin;
  opacity: 0.7;
}

/* to adjust resume text */
.resume-text {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 3vmin;
}
.resume-textjp {
  font-size: 2.4vmin;
}

/* to style footer */
footer {
  display: grid;
  background-color: #00adb5;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

/* to format footer text */
.footer-text {
  font-size: 16px;
  margin: 1vh;
}
